<% provide(:samples, 'active') %>
<% provide(:title, 'Samples') %>

<div class="container">
	<h3>Seven Wonders of the World</h3>
	<h4>Bootstrap Thumbnail gallery</h4>
	<div class="row">
		
	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">

				   <%= link_to image_tag('wonder1.jpg',:alt => 'wonder1'),:class => "img-responsive" %>
				    
				<p class="caption">1. The Taj Mahal. White marble mausoleum built in the memory of Mumtaz Mahal located in Agra, India.</p>
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->

	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder2.jpg',:alt => 'wonder2'),:class => "img-responsive" %><br /> 
				<p class="caption">2.Christ the Redeemer,Statue of  Christ in Rio De Janeiro, Brazil.</p>
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->

	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder3.jpg',:alt => 'wonder3'),:class => "img-responsive" %><br />
				<p class="caption">3. Macchu Picchu,Located high in the Peruvian Andes.</p> 
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->

	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder4.jpg',:alt => 'wonder4'),:class => "img-responsive" %><br />
				<p class="caption">4.Petra,Jordan,Located in the Jordanian ancient city of Petra</p> 
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->



	<div class="row">
		
	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder5.jpg',:alt => 'wonder5'),:class => "img-responsive" %><br /> 
				<p class="caption">5. Chichen Itza,Located in the Eastern  Yucatan state in Mexico</p>
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->

	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder6.jpg',:alt => 'wonder6'),:class => "img-responsive" %><br /> 
				<p class="caption">6.Great Wall of China.Stretches across North China from east to west for about 6000 kms.</p>
			</div><!--end of thumbnail-->
			
		</div><!--end of col-->

	</div><!--end of row-->
		<div class="col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag('wonder7.jpg',:alt => 'wonder7'),:class => "img-responsive" %><br />
				<p class="caption">7. The Colosseum.The Colosseum is located in Rome, Italy</p> 
			</div><!--end of thumbnail-->

			
			
		</div><!--end of col-->


		
</div> <!--end of div container-->
    
     




